<footer class="footer">
    <style>
        .footer {
            margin-top: 5%;
        }
        a:link {
          color: #6c9a8b;
          background-color: transparent;
          text-decoration: none;
        }
        a:visited {
          color: #6c9a8b;
          background-color: transparent;
          text-decoration: none;
        }
        a:hover {
          color: #4dccbd;
          background-color: transparent;
          text-decoration: underline;
        }
        a:active {
          color: #4dccbd;
          background-color: transparent;
          text-decoration: underline;
        }
        </style>
    <div class="links"></div>
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
            <img src="static\images\logo_simple.png" alt="Description" style="width:200px;height:30px;" id="side">
            <!-- add logo image here later -->
        </div>

        <div class="col-sm-4 col-md-3 item">

            <h5 class="text-uppercase mb-4">About Us</h5>
            <ul>
                <li><a href="/welcome#intro">Introduction</a></li>
                <li><a href="#">-</a></li>
                <li><a href="#">-</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h5 class="text-uppercase mb-4">Get Started</h5>
            <ul>
                <li><a href="/welcome#feed">Live Feed</a></li>
                <li><a href="#">Log in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Contact</h5>

            <ul class="list-unstyled">
                <li>
                    <p><i class="fa-solid fa-user" style="color: #102e4a;"></i> some <address></address></p>
                </li>
                <li>
                    <p><i class="fas fa-envelope pe-2 mb-0" style="color: #102e4a;"></i> website@gmail.com</p>
                </li>
            </ul>
        </div>

    </div>
</footer>