{% extends "base.html" %} {% block title %}Early Days | Welcome{% endblock %} {% block content_MAIN %}
<style>
    body {
        background-color: #fbf5f3;
    }
</style>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://kit.fontawesome.com/43c0c699ca.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="text-center">
        <!-- <img src="static\images\logo_simple.png" alt="Description" style="border-radius: 50%;width:500px;height:160px;padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;"> -->
        </div>
        <div style="padding-top: 20px;padding-bottom: 10px;">
        <h1 class="text-center">Clustering and graphing still to come</h1>
        </div>
</div>

{% include "footer.html" %}
{% endblock %}