{% extends "base.html" %} {% block title %}Early Days | Testing{% endblock %} {% block content_MAIN %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Flask App</title>
</head>
<body>
    <h1>Testing</h1>
    <img src="{{ url_for('static', filename='images/logo_simple.png') }}" alt="Logo">
</body>
</html>
{% endblock %}
